@use "../../styles/variables";
@use "../../styles/mixins";
.Admin_Form {
    margin: auto;
    @include mixins.displayGrid(legacy, center);
    grid-template-columns: 1fr;
    width: variables.$admin-form-width;
    text-align: center;
    gap: 20px;
    &-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &-color_variant {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        > div {
            @include mixins.displayFlex(center);
            margin: 0px 10px;
        }
    }
    &-size_info {
        width: variables.$admin-form-width;
        @include mixins.displayGrid(center, center);
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
    }
}
.Password {
    @include mixins.displayFlex(column, center, center);
    margin-top: 100px;
    > * {
        width: 300px;
    }
}
