@use "../../styles/variables";
@use "../../styles/mixins";
.Item_List {
    @include mixins.displayGrid(center, center);
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    &-cover_image_present {
        margin-top: 500px;
    }
}

.Cover_Page_Image {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
    background-color: none;
}
.Favourites_Page {
    text-align: center;
    width: 85vw;
}
.Check_Out_Page {
    @include mixins.displayGrid(center, center);
    grid-auto-rows: 201px;
}
