.Display_Item {
    width: 200px;
    border: 1px solid black;

    &-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-preview {
            width: 190px;
        }
        &-heart {
            position: relative;
            top: -185px;
            left: 80px;
            cursor: pointer;
            filter: invert(17%) sepia(88%) saturate(4847%) hue-rotate(323deg)
                brightness(82%) contrast(99%);
            width: 20px;
        }
    }
    &-item {
        height: 60px;
        &_name {
            font-size: 13px;
        }
    }
    &-low_stock_warning {
        position: absolute;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 270px;
        backdrop-filter: blur(5px);
        z-index: 1;
    }
}
.Display_Item:hover {
    cursor: pointer;
}

.low_stock_warning-visible {
    visibility: visible;
}
