.Display_Item {
    width: 200px;
    background-color: white;
    text-align: center;
    &-low_stock_warning {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px);
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.1);
    }
}
.Display_Item:hover {
    cursor: pointer;
}

.low_stock_warning-visible {
    visibility: visible;
}
