$primary-icon-color: invert(0%) sepia(100%) saturate(7469%) hue-rotate(357deg)
    brightness(82%) contrast(95%);
$secondary-icon-color: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
    brightness(103%) contrast(103%);

$primary-color: white;
$secondary-color: black;
$tertiary-color: red;

$max-width-content: 85vw;

$admin-form-width: 700px;

$dedicated-item-arrow-padding: 50px;
