.Dedicated_Item {
    &-product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        &_current_image {
            width: 500px;
        }
        &_image_carousel {
            width: 50px;
        }
        &_information {
            display: grid;
            grid-template-rows: 100px 260px 150px;
            text-align: center;
            &-details {
                &_header {
                    h2 {
                        span {
                            padding-right: 10px;
                        }
                    }
                    &-heart {
                        cursor: pointer;
                        width: 20px;
                        filter: invert(17%) sepia(88%) saturate(4847%)
                            hue-rotate(323deg) brightness(82%) contrast(99%);
                    }
                }
            }
            &-description {
                width: 95%;
                margin: auto;
                font-size: 15px;
            }
        }
    }
}
