@use "../../styles/variables";
@use "../../styles/mixins";

.Dedicated_Item {
    &-product {
        @include mixins.displayGrid(center);
        grid-template-columns: 1fr 1fr;
        &_image_buttons {
            display: flex;
            height: 0px;
            justify-content: space-between;
            width: 500px;
        }
        &_arrows {
            width: 200px;
            height: 500px;
            @include mixins.cursor();
            img {
                width: 20px;
                filter: variables.$secondary-icon-color;
                caret-color: transparent;
            }
        }
        &_arrows:hover {
            img {
                filter: variables.$primary-icon-color;
            }
        }
        &_previous_image {
            @include mixins.displayFlex(row, flex-start);
            padding-left: variables.$dedicated-item-arrow-padding;
        }
        &_next_image {
            @include mixins.displayFlex(row, flex-end);
            padding-right: variables.$dedicated-item-arrow-padding;
            img {
                width: 20px;
            }
        }
        &_current_image {
            width: 500px;
        }
        &_image_carousel {
            width: 50px;
        }
        &_information {
            display: grid;
            grid-template-rows: 100px 260px 150px;
            text-align: center;
            &-details {
                &_header {
                    h2 {
                        span {
                            padding-right: 10px;
                        }
                    }
                    &-heart {
                        @include mixins.heartIcon();
                    }
                }
            }
            &-description {
                width: 95%;
                margin: auto;
                font-size: 15px;
            }
        }
    }
}
