.Dedicated_Item {
    &-product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;

        &_arrows {
            width: 200px;
            position: absolute;
            height: 500px;
            display: flex;
            cursor: pointer;
            img {
                width: 20px;
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
                    brightness(103%) contrast(103%);
                caret-color: transparent;
            }
        }
        &_arrows:hover {
            img {
                filter: invert(0%) sepia(100%) saturate(7469%)
                    hue-rotate(357deg) brightness(82%) contrast(95%);
            }
        }
        &_previous_image {
            padding-left: 50px;
        }
        &_next_image {
            display: flex;
            padding-right: 50px;
            left: 396px;
            justify-content: flex-end;
            img {
                width: 20px;
            }
        }
        &_current_image {
            width: 500px;
        }
        &_image_carousel {
            width: 50px;
        }
        &_information {
            display: grid;
            grid-template-rows: 100px 260px 150px;
            text-align: center;
            &-details {
                &_header {
                    h2 {
                        span {
                            padding-right: 10px;
                        }
                    }
                    &-heart {
                        cursor: pointer;
                        width: 20px;
                        filter: invert(0%) sepia(100%) saturate(7469%)
                            hue-rotate(357deg) brightness(82%) contrast(95%);
                    }
                }
            }
            &-description {
                width: 95%;
                margin: auto;
                font-size: 15px;
            }
        }
    }
}
