.Cart_Item {
    width: 85vw;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    width: 85vw;
    max-width: 1500px;
    margin: 0 20px;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid black;
    img {
        width: 200px;
    }
    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        button {
            border: 0px;
            cursor: pointer;
            background-color: white;
            padding: 5px;
        }
        button:hover {
            background-color: black;
            color: white;
            transition: 0.1s ease-in;
        }
        p {
            width: 50px;
            text-align: center;
        }
    }
}
