@keyframes newItem {
    // wave around until animation ends
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-5deg);
    }
    40% {
        transform: rotate(5deg);
    }
    60% {
        transform: rotate(-5deg);
    }
    80% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.Navigation_Bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
        display: flex;
        justify-content: left;
        align-items: center;
        img {
            width: 40px;
        }
        h1 {
            font-size: 40px;
            color: white;
            -webkit-text-stroke: 0.5px black;
        }
    }
    &-links {
        width: 500px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
        &-cart {
            width: 30px;
        }
    }
}

.New_Item_In_Cart {
    animation: newItem 1s linear infinite;
}
