@use "../../styles/variables";
@use "../../styles/mixins";

.Navigation_Bar {
    @include mixins.displayFlex(row, space-between, center);
    position: relative;
    left: 2.5vw;
    height: 50px;
    max-width: variables.$max-width-content;
    &-logo {
        @include mixins.displayFlex(row, left, center);
        img {
            max-width: 40px;
        }
        h1 {
            font-size: 40px;
            color: white;
            -webkit-text-stroke: 0.5px black;
        }
    }
    &-links {
        max-width: 500px;
        @include mixins.displayFlex(row, flex-end, center);
        font-size: 20px;
        > * {
            margin: 0px 10px;
        }
        &-cart {
            text-align: center;
            img {
                position: absolute;
                width: 30px;
            }
            p {
                span {
                    font-size: 15px;
                }
            }
        }
    }
}
