@use "../../styles/variables";
@use "../../styles/mixins";
.Homepage {
    &_cover-image {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 600px;
        object-fit: cover;
        background-color: none;
    }
    &_quick-links {
        @include mixins.displayGrid(legacy, center);
        text-align: center;
        margin-top: 700px;
        div {
            @include mixins.displayGrid(legacy, center);
            grid-template-columns: 1fr 1fr;
            height: 300px;
            width: 100%;
            div {
                img {
                    width: 250px;
                    height: 300px;
                }
            }
        }
    }
}
