@use "../../styles/variables";
@use "../../styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
.Add_To_Cart_Form {
    @include mixins.displayGrid(center, center);
    grid-template-rows: 130px 50px;
    height: 250px;
    &-select {
        @include mixins.displayGrid(space-evenly);
        grid-auto-rows: 20px;
        gap: 10px;
        height: 120px;
        > * {
            width: 200px;
            text-align: center;
            background-color: variables.$primary-color;
            border: 0px;
        }

        label {
            font-size: 12px;
        }
        select {
            border-bottom: 1px solid variables.$secondary-color;
            @include mixins.cursor();
            padding-left: 15px;
        }
    }
    &-counter {
        display: flex;
        border: 1px solid variables.$secondary-color;
        button {
            border: 0px;
            @include mixins.cursor();
            background-color: variables.$primary-color;
            padding: 5px;
        }
        button:hover {
            background-color: variables.$secondary-color;
            color: variables.$primary-color;
            transition: 0.1s ease-in;
        }
        input[type="number"] {
            width: 50px;
            border: 0px;
            text-align: center;
            -moz-appearance: textfield;
            outline: none;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            text-align: center;
            -webkit-appearance: none;
            margin: 0;
        }
    }
    &-cart_button {
        background-color: variables.$primary-color;
        border: 1px solid variables.$secondary-color;
        @include mixins.cursor();
        color: variables.$secondary-color;
        padding: 5px 15px;
        border-radius: 5px;
        font-weight: bold;
        width: 200px;
    }
    &-cart_button:hover {
        background-color: variables.$secondary-color;
        color: variables.$primary-color;
        transition: 0.1s ease-in;
    }
    &-error_messages {
        > * {
            color: variables.$tertiary-color;
            font-size: 12px;
            width: 100%;
            height: 15px;
        }
    }
}
