@use "../../styles/variables";
@use "../../styles/mixins";
.Cart_Item {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    width: variables.$max-width-content;
    max-width: 1500px;
    margin: 0 20px;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid variables.$secondary-color;
    img {
        width: 200px;
    }
    div {
        @include mixins.displayFlex(row, center, center);

        button {
            border: 0px;
            @include mixins.cursor();
            background-color: variables.$primary-color;
            padding: 5px;
        }
        button:hover {
            background-color: variables.$secondary-color;
            color: variables.$primary-color;
            transition: 0.1s ease-in;
        }
        p {
            width: 50px;
            text-align: center;
        }
    }
}
